<html>
  <head></head>
  <body>
    <h1>Add a new artist</h1>

    <form action="/artists" method="POST">
      <div>
        <label for="name">Artist name:</label>
        <input type="text" name="name" id="name" />
      </div>

      <div>
        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" />
      </div>

      <div>
        <input type="submit" name="Submit" />
      </div>
    </form>
  </body>
</html>