<html>
  <head></head>
  <body>
    <h1>Add a new album</h1>
    <form action="/albums" method="POST">
      <input type="text" name="title">
      <input type="text" name="release_year">
      <input type="text" name="artist_id">
      <input type="submit" name="Submit">
    </form>
  </body>
</html>